.site-header {
    background-color: #fff;
}

.sitenav-link {}

.main link {
    background: #FF7500;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 0.5px;
}
.hero-section {
    background-color: #252420;
}
.orange-line {
    width: 80px;
    height: 3px;
    background: #FF7500;
}
.hero-title{
    
}
.hero-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}